@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<br />

<p class="content">
    Open School Library is an Open Source Library Management Tool geared towards Private Schools.
    <br /><br />
    Though Private Schools are our target audience the application is perfectly usable for anyone who wants to manage a library.
    <br /><br />
    More information and tutorials can be found at the project homepage: <a href="https://github.com/Programazing/Open-School-Library">https://github.com/Programazing/Open-School-Library</a>

 </p>
