@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<br />

<div class="panel panel-default">
    <div class="panel-body">
        <address>
            <strong>Project Issues Page:</strong> <a href="https://github.com/Programazing/Open-School-Library/issues">https://github.com/Programazing/Open-School-Library/issues</a>
            <br />
            <strong>Creator:</strong> <a href="mailto:chris@thatamazingprogrammer.com?subject=Open School Library">chris@thatamazingprogrammer.com</a>
            <br />
        </address>
    </div>
</div>
