@{
    ViewData["Title"] = "Home Page";
}

<br />
<p class="content">
    Welcome to the Open School Library project!
    <br /><br />
    Here you can add any content you want to your library’s home page so keeping in that spirit we don’t add any pre-made content.
    <br /><br />
    Check out the <a asp-action="About">About Page</a> to learn more.
</p>
